*{
    margin:0px;
    font-family: "Press Start 2P", system-ui;
}
body {
    cursor:url('../images/a.png'),auto;
  
}

#home,#ctg {
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;

}
#ctg{
    display: none;
}
.questions{
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.335);
    height: 100%;
    width: 100%;
}
#text{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
#quizname{
    font-size: 60px;
}
#quizdescription {
    font-size: 20px;
}
#startbutton{
    margin: 80px;
    width: 200px;
    height:40px;
    border:5px inset black;
    cursor:pointer !important;
}
#arrow{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 50px;
    cursor:pointer !important;
    margin:40px;
}
.ctgn{
    background-color: rgba(255, 255, 255, 0.431);
    margin :40px;
    padding:8px;
    text-align: center;
    border-radius: 30px;
    cursor:pointer !important;
}
form{
    color:white;
}
.h_style,form{
    color:white;
    padding: 15px;
}
.box{
    background-color:#0d032c;
    border-radius: 0px 10px 30px 10px;
    margin: 20px;
    box-shadow: 2px 2px 5cap white;
    padding: 10px;
}
.inputs{
    font-size: 10px;
    margin:10px;
}
.btn{
    position:absolute;
    right: 0;
    margin: 10px;
    width: 200px;
    height:40px;
    border:5px inset black;
    cursor:pointer !important;
}
#sci,#his {
    display: none;
}
.man{
    position: absolute;
    top: 90%;
    right: 20%;
    /* transform: translate(-50%, -50%); */
    animation: moveRotate 5s infinite;
}
@keyframes moveRotate {
    0% {
        transform: translate(-100%, -100%) translateY(0) rotate(0deg);
    }
    25% {
        transform: translate(-100%, -100%) translateY(-300px) rotate(160deg);
    }
    50% {
        transform: translate(-100%, -100%) translateY(0) rotate(190deg);
    }
    75% {
        transform: translate(-100%, -100%) translateY(200px) rotate(300deg);
    }
    100% {
        transform: translate(-100%, -100%) translateY(0) rotate(360deg);
    }
}